In [300]:
import pandas as pd
import numpy as np

In [301]:
df = pd.read_csv('/Users/genta/Desktop/Thinkful/WELLCOME/WELLCOME_APCspend2013_forThinkful.csv')

In [302]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
PMID/PMCID                                             1928 non-null object
Publisher                                              2127 non-null object
Journal title                                          2126 non-null object
Article title                                          2127 non-null object
COST (£) charged to Wellcome (inc VAT when charged)    2127 non-null object
dtypes: object(5)
memory usage: 41.6+ KB

In [303]:
# We're using list() on the result because filter() returns an iterator.

print('Filtering the whole series:')
print(list(filter(lambda x: str(x).isdigit(), df)))

print('\nApplying filter() to each value in the series:')
print(df.apply(lambda x: ''.join(list(filter(str.isdigit, str(x))))))

Filtering the whole series:
[]

Applying filter() to each value in the series:
PMID/PMCID                                             0136795572230432643506128323438330364640242343...
Publisher                                              0123456789101112131415161718192021222324252627...
Journal title                                          0123456789101112131415161718192021222324252627...
Article title                                          0124534567891011121314331415161217183192021222...
COST (£) charged to Wellcome (inc VAT when charged)    0000123810426425636696446858852392206236795764...
dtype: object

In [304]:
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [305]:
# Calculate total number of cells in dataframe
totalCells = np.product(df.shape)

# Count number of missing values per column
missingCount = df.isnull().sum()

# Calculate total number of missing values
totalMissing = missingCount.sum()

# Calculate percentage of missing values
print("This dataset contains", round(((totalMissing/totalCells) * 100), 2), "%", "missing values.")

This dataset contains 1.88 % missing values.

In [306]:
#Missing Value Count

missingCount[['PMID/PMCID', 
              'Publisher', 
              'Journal title', 
              'Article title', 
              'COST (£) charged to Wellcome (inc VAT when charged)']]

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)      0
dtype: int64

In [307]:
#Changed missing values in PMID/PMCID  and Journal title columns to N/A

df['PMID/PMCID'] = df['PMID/PMCID'].fillna('N/A')
df['Journal title'] = df['Journal title'].fillna('N/A')
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,N/A,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [308]:
#Removed £ and $ from Cost column

df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].str.replace('£', '')
df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].str.replace('$', '')
df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].astype(object)
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,N/A,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [315]:
#Getting column names so I can change them easily in the next cell
df.columns

Index(['PMID/PMCID', 'Publisher', 'Journal title', 'Article title',
       'COST (£) charged to Wellcome (inc VAT when charged)'],
      dtype='object')

In [318]:
#Change column names
df_cols=['id', 'publisher', 'journal_title', 'article_title',
       'cost']
df.columns = df_cols

#checking new names
df.columns

Index(['id', 'publisher', 'journal_title', 'article_title', 'cost'], dtype='object')

In [319]:
df.head()

,id,publisher,journal_title,article_title,cost
0,N/A,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [322]:
#ok... I want to change the data type of the now cost column


df['cost'] = df.cost.astype(float)
df.dtypes

id                object
publisher         object
journal_title     object
article_title     object
cost             float64
dtype: object

In [323]:
 df.get_dtype_counts()

object     4
float64    1
dtype: int64